[Template]
ver=1
Name=Consola + conio
IconIndex=1
Description=Proyecto para consola usando conio
Catagory=Basic

[Unit0]
CName=principal.c
CppName=principal.cpp
C=consoleconio_c.txt
Cpp=consoleconio_cpp.txt

[Project]
UnitCount=1
Type=1
Name=Console + conio App
Linker=-lconio
